<div class="text-center">
    <br>
    <br>
    <p>Welcome to Kutie URL. Get your URL shortened for absolutely FREE!</p>
    <br>
    <p>Create a FREE account with us and get FREE statistics on visits to your website.</p><mat-icon matTooltipClass="example-tooltip-uppercase" 
                                                                                                     matTooltip='We offer location, device and other data for your URL.'
                                                                                                     [ngStyle]="{'line-height':'1.8','font-size': '1.35em', 'color':'rgb(34, 34, 196)'}">
                                                                                                     info</mat-icon>
    <br>
    <app-processor></app-processor>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

