<div class="text-center">
    <h1>SmallURL</h1>
    <br>
    <br>
    <p>Welcome to SmallURL. Get your URL shortened for absolutely FREE!</p>
    <br>
    <p>Create a FREE account with us and get FREE statistics on visits to your website.</p><mat-icon matTooltipClass="example-tooltip-uppercase" 
                                                                                                     matTooltip='We offer location, device and other data for your URL.'
                                                                                                     [ngStyle]="{'line-height':'1.8','font-size': '1.35em'}">info</mat-icon>
    <br>
    <app-processor></app-processor>
</div>
<app-login></app-login>
<app-account></app-account>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

