<div *ngIf="!loggedIn" [ngStyle]="{'padding-top':'3em'}" class="text-center">
  <form (submit)="$event.preventDefault()" [ngStyle]="{'padding-left':'5em'}">
    <input matInput cdkTextareaAutosize 
           name="url" [(ngModel)]="url" 
           placeholder="Enter your Kutie URL and get the details!" 
           cdkAutosizeMinRows="1" cdkAutosizeMaxRows="10"/>
    <button (click)="getUrlDetailsSimple()" mat-fab extended>
      <mat-icon matTooltipClass="example-tooltip-uppercase" matTooltip='Get!'>arrow_right_alt</mat-icon>
    </button>
  </form>
  <div *ngIf="urlData && displayGrid" [ngStyle]="{'padding-top':'2em'}">
    <cdk-accordion class="example-accordion">
      <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="accordion-header-0"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="accordion-body-0">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
        <h4>URL Details
          <span class="example-accordion-item-description pull-right">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
          </span>
        </h4><br/>
        <span [ngStyle]="{'font-weight':'bold'}">Short Code: </span> {{this.urlData.shortCode}} <br/>
        <span [ngStyle]="{'font-weight':'bold'}">Kutie URL Expired: </span> {{this.urlData.isExpired}} <br/>
        <span [ngStyle]="{'font-weight':'bold'}">Total Clicks: </span> {{this.urlData.totalClicks}} <br/>
        <span [ngStyle]="{'font-weight':'bold'}">Created On: </span> {{this.urlData.createdAt | date : "MMMM d, y, h:mm:ss a"}}
      </div>
        <div class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="accordion-body-0"
        [attr.aria-labelledby]="accordion-header-0">
          <div *ngIf="this.urlData.clicksPerday && this.urlData.clicksPerday.length > 0; else elseBlockLogout">
            <table mat-table [dataSource]="this.urlData.clicksPerday" [ngStyle]="{'text-align': 'center !important'}">
              <!--Position Column-->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let index=index">{{index+1}}</td>
            </ng-container>
  
             <!--Date Column-->
             <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{element.date + 1 | date : "MMMM d, y"}}</td>
            </ng-container>
  
            <!--Count Column-->
            <ng-container matColumnDef="count">
              <th mat-header-cell *matHeaderCellDef>Count</th>
              <td mat-cell *matCellDef="let element">{{element.count}}</td>
            </ng-container>
  
            <tr mat-header-row *matHeaderRowDef="urlDataColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: urlDataColumns;"></tr>
            </table>
          </div>
          <ng-template #elseBlockLogout><p>No details to display (YET) ! Get started now with Kutie URL!</p></ng-template>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
</div>

<div *ngIf="loggedIn" [ngStyle]="{'padding-left':'10em'}">
  <div *ngIf="userURLData && userURLData.length != 0 && displayGrid; else elseBlockLoginNoData" [ngStyle]="{'padding-top':'2em'}">
    <cdk-accordion class="example-accordion-detailed">
      <cdk-accordion-item
      #accordionItem="cdkAccordionItem"
      class="example-accordion-item"
      role="button"
      tabindex="0"
      [attr.id]="accordion-header-0"
      [attr.aria-expanded]="accordionItem.expanded"
      [attr.aria-controls]="accordion-body-0" *ngFor="let item of userURLData; let index = index">
      <div class="example-accordion-item-header" (click)="accordionItem.toggle(); getAnalyticsData(item.id)">
        <h4>{{item.shortCode}}
          <span class="example-accordion-item-description pull-right">
          Click to {{ accordionItem.expanded ? 'close' : 'open' }}
          </span>
        </h4><br/>
        <span [ngStyle]="{'font-weight':'bold'}">Short Code: </span> {{item.shortCode}} <br/>
        <span [ngStyle]="{'font-weight':'bold'}">URL: </span> {{item.url}} <br/>
        <span [ngStyle]="{'font-weight':'bold'}">Total Clicks: </span> {{item.clickCount}} <br/>
        <span [ngStyle]="{'font-weight':'bold'}">Created On: </span> {{item.createdAt | date : "MMMM d, y, h:mm:ss a"}}
      </div>
        <div class="example-accordion-item-body"
        role="region"
        [style.display]="accordionItem.expanded ? '' : 'none'"
        [attr.id]="accordion-body-0"
        [attr.aria-labelledby]="accordion-header-0">
          <div *ngIf="this.userAnalyticsData.sessions && this.userAnalyticsData.sessions.length > 0; else elseBlockLogin">
            <span class="pull-right"><button mat-raised-button color="primary" (click)="downloadData(item.id)">Download Data</button></span>
            <table mat-table [dataSource]="this.userAnalyticsData.sessions">
              <!--Position Column-->
              <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef>No.</th>
                <td mat-cell *matCellDef="let index=index">{{index+1}}</td>
            </ng-container>

            <!--Date Column-->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Date</th>
              <td mat-cell *matCellDef="let element">{{element.createdAt | date : "MMMM d, y, h:mm:ss a"}}</td>
            </ng-container>

            <!--Device Type Column-->
            <ng-container matColumnDef="deviceType">
              <th mat-header-cell *matHeaderCellDef>Device Type-OS</th>
              <td mat-cell *matCellDef="let element">{{element.device_type}}-{{element.os_family}}</td>
            </ng-container>

            <!--Client Column-->
            <ng-container matColumnDef="client">
              <th mat-header-cell *matHeaderCellDef>Client Type-Name</th>
              <td mat-cell *matCellDef="let element">{{element.client_type}}-{{element.client_name}}</td>
            </ng-container>

            <!--IP Column-->
            <ng-container matColumnDef="ip">
              <th mat-header-cell *matHeaderCellDef>IP Address</th>
              <td mat-cell *matCellDef="let element">{{element.ipAddress}}</td>
            </ng-container>

            <!--Location Column-->
            <ng-container matColumnDef="location">
              <th mat-header-cell *matHeaderCellDef>Location</th>
              <td mat-cell *matCellDef="let element">{{element.city}}/{{element.region}}/{{element.country}}</td>
            </ng-container>

            <!--Coordinates Column-->
            <ng-container matColumnDef="coordinates">
              <th mat-header-cell *matHeaderCellDef>Latitude/Longitude</th>
              <td mat-cell *matCellDef="let element">{{element.latitude}}/{{element.longitude}}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="userURLDataColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: userURLDataColumns;"></tr>
            </table>
          </div>
          <ng-template #elseBlockLogin><p>No details to display (YET) ! Get started now with Kutie URL!</p></ng-template>
        </div>
      </cdk-accordion-item>
    </cdk-accordion>
  </div>
  <ng-template  #elseBlockLoginNoData><h4 [ngStyle]="{'margin-left':'30%', 'font-weight':'bold'}">No details to display (YET) ! Get started now with Kutie URL!</h4></ng-template>
</div>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">