<div class="row">
    <div class="col-xs-5"></div>
    <div class="col-xs-4">
        <h1><a routerLink="" id="headerTitle">Kutie URL</a></h1>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-2">
          <mat-list>
            <mat-list-item *ngIf="userFirstName && userFirstName.length > 0">
                <p [ngStyle]="{'font-style':'italic', 'font-weight' : 'bold', 'color':'black'}">Hi {{userFirstName}}!</p>
            </mat-list-item>
            <mat-list-item *ngIf="!loggedIn">
                <button mat-raised-button color="accent" routerLink="login">
                    <mat-icon>account_box</mat-icon>
                    <span>Sign-in with Google</span>
                </button>
            </mat-list-item>
            <mat-list-item  *ngIf="this.router.url !== '/'">
                <button mat-raised-button color="accent" routerLink="">
                    <mat-icon>home</mat-icon>
                    <span>Home</span>
                </button>
            </mat-list-item>
            <mat-list-item *ngIf="this.router.url !== '/account'">
                <button mat-raised-button color="accent" routerLink="account">
                    <mat-icon>assessment</mat-icon>
                    <span>View Details</span>
                </button>
            </mat-list-item>
            <mat-list-item *ngIf="loggedIn">
                <button mat-raised-button color="accent" (click)="logOut()">
                    <mat-icon>input</mat-icon>
                    <span> Logout</span>
                </button>
            </mat-list-item>
          </mat-list>
    </div>